<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->
<ol>
<%transactions = Transaction.all%>
<%for transaction in transactions%>
<%from_user = User.find_by({"id" => transaction["from_user_id"]})%>
<%to_user = User.find_by({"id" => transaction["to_user_id"]})%>
<table>
<%if from_user != nil%>
<tr><th><li><th> <%=from_user["name"]%> sent </th><th><%=transaction["amount"]%> KC</th><th> to <%=to_user["name"]%></th></li></th></tr>
<%else%>
<tr><th><li><th> ICO sent </th><th><%=transaction["amount"]%> KC </th><th>to <%=to_user["name"]%></th></li></th></tr>
<%end%>
<%end%>
</table>
</ol>
<!-- Step 2: Calculate and display the balances -->
<ol><%user_balances = Transaction.all%>
<%users = User.all%>
<%for user in users%>
<%from = Transaction.where({"from_user_id" => user["id"]}).sum("amount")%>
<%to = Transaction.where({"to_user_id" => user["id"]}).sum("amount")%>
<tr><th><li><th><%=user["name"]%> balance:</th> <th><%=to-from%> KC</th></li></th></tr>

<%end%></table></ol>
<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->

<table>
  <tr>
    <th>Name</th>
    <th>Favorite Food</th>
  </tr>
  <tr>
    <td>Brian</td>
    <td>Tacos</td>
  </tr>
   <tr>
    <td>Ben</td>
    <td>Sushi</td>
  </tr>
</table>